{{>layouts/header}}
<h1><p style = "text-align:center;">주형파크 커뮤니티</p></h1>
<p style = "text-align:center;"><button type="button" style="margin-left: 10px" onclick="window.location.href='/articles'">
        입장하기
</button></p>
{{>layouts/footer}}