{{>layouts/header}}

<form class="container" action="/articles/create" method="post">

    <div  class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <pre><textarea class="form-control" rows="6" name="content" ></textarea></pre>
    </div>

    <button type ="submit" class="btn btn-primary">Submit</button>
    <a href="/articles" style="margin-left: 10px;">Back</a>

</form>
{{>layouts/footer}}